@model EInvoice.Data.Data.Invoice


@Html.DevExpress().GetStyleSheets(
	new StyleSheet { ExtensionType = ExtensionType.FormLayout},
	new StyleSheet { ExtensionSuite = ExtensionSuite.Editors })
@Html.DevExpress().GetScripts(
	new Script { ExtensionType = ExtensionType.FormLayout })

@Html.DevExpress().GetStyleSheets(
	new StyleSheet { ExtensionSuite = ExtensionSuite.GridView})
@Html.DevExpress().GetScripts(
	new Script { ExtensionSuite = ExtensionSuite.GridView})
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<style type="text/css">
	#formLayout_1_0 {
		width: 66.33333% !important;
	}
</style>
<div class="col-md-12">
	<div class="mainCaption"><h3>VAT INVOICE</h3></div>
	@Html.Action("NewInvoice", "Invoice")
	@Html.Action("ProductTable", "Invoice")
</div>
