@model EInvoice.Web.Models.CustomerViewModel

@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<style>
	.field-validation-error {
		color: red;
	}
</style>
<link href="~/Assets/Owner/css/customer.css" rel="stylesheet" />

@Html.DevExpress().GetStyleSheets(
	new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
	new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
	new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
	new StyleSheet { ExtensionType = ExtensionType.CallbackPanel }
	)

@Html.DevExpress().GetScripts(
	new Script { ExtensionSuite = ExtensionSuite.GridView },
	new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
	new Script { ExtensionSuite = ExtensionSuite.Editors },
	new Script { ExtensionType = ExtensionType.CallbackPanel },
	new Script { ExtensionType = ExtensionType.PopupControl }
	)
<script type="text/javascript">
	function OnGridFocusedRowChanged(s, e) {
		s.GetRowValues(s.GetFocusedRowIndex(), 'ID', OnGetRowValues);
	}
	function OnGetRowValues(values) {
		document.getElementById("customerId").value = values;

	}
</script>

<div class="container-fluid">

	<input class="form-control" id="customerId" type="hidden">
	<button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnAttempt">Test</button>

	<h1 style="margin-bottom: 20px; text-align: center">Customers management</h1>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive table--no-card  m-b-40">
				@using (Html.BeginForm("Customer"))
				{
					@Html.Hidden("customExportCommand")
					@Html.Action("CustomerPartial", "Customer")
				}
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog modal-lg vertical-align-center">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">New Customer</h4>
				</div>
				<div class="modal-body">
					@using (Ajax.BeginForm("Create", "Customer",
						null,
						new AjaxOptions() { HttpMethod = "post", OnSuccess = "Message" },
						new { @class = "form-horizontal" }))
					{
						<div class="form-group">
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Customer Code: <span class="required">*</span></label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-barcode"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Code,
												new
												{
													@name = "Code",
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Code)
										</div>
										<p id="code_status"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Purchaser:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-user"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Name,
												new
												{
													@name = "Purchaser",
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Name)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Tax Code:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-qrcode"></i></span>
											</span>
											@Html.TextBoxFor(model => model.TaxCode,
												new
												{
													@name = "TaxCode",
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.TaxCode)
										</div>
										<p id="taxCode_status"></p>
									</div>
								</div>
							</div>
							<div>
								<div class="row">
									<button type="button" id="find_company" class="btn btn-info ml-3" id="fix-button">Get Info</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="form-group">
									<label class=" control-label col-md-2">Organization Name: </label>
									<div class="col-md-10">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-briefcase"></i></span>
											</span>
											@Html.TextBoxFor(model => model.EnterpriseName,
												new
												{
													@name = "Name",
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.EnterpriseName)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="form-group">
									<label class=" control-label col-md-2">Address: <span class="required">*</span></label>
									<div class="col-md-10">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-address-card"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Address,
												new
												{
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Address)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Email:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-envelope"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Email,
												new
												{
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Email)
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Phone number:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-phone"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Phone,
												new
												{
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Phone)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Fax:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-fax"></i></span>
											</span>
											@Html.TextBoxFor(model => model.Fax,
												new
												{
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.Fax)
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class=" control-label col-md-4">Representative:</label>
									<div class="col-md-8">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-user-circle"></i></span>
											</span>
											@Html.TextBoxFor(model => model.LegalRepresentative,
												new
												{
													@class = "form-control",
													@type = "text"
												})
											@Html.ValidationMessageFor(model => model.LegalRepresentative)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="form-group">
									<label class=" control-label col-md-2">Note:</label>
									<div class="col-md-10">
										<div class="input-group input-group-icon">
											<span class="input-group-addon">
												<span class="icon"><i class="fa fa-sticky-note"></i></span>
											</span>
											@Html.TextAreaFor(model => model.Note,
												new
												{
													@style = "padding-left:5%",
													@class = "form-control",
													@type = "text"
												})
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col-md-8 col-sm-9 col-xs-12 col-md-offset-4">
								<button type="submit" class="btn btn-round btn-primary" id="btnSave">Save</button>
								<button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editCustomer" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog modal-lg vertical-align-center">
			<div class="modal-content">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">New Customer</h4>
					</div>
					<div class="modal-body">
						@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
						{
							@Html.Partial("Edit");
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(".modal").on("hidden.bs.modal", function () {
		$(".modal-body1").html("");
	});
</script>

<script>
	function CheckAvailable(field, URL, fieldStatus, statusContent) {
		$("#" + field).keyup(function () {
			$.ajax({
				url: URL,
				type: "POST",
				dataType: "json",
				data: { searchKey: $("#" + field).val() },
				success: function (data) {
					if (data === true) {
						$("#" + fieldStatus).css("color", "red");
						$("#" + fieldStatus).html(statusContent);
					} else {
						$("#" + fieldStatus).html("");
					}
				}
			});
		});
	}

	CheckAvailable("Code", "Customer/CheckCode", "code_status", "Customer code is exist");
	CheckAvailable("TaxCode", "Customer/CheckTaxCode", "taxCode_status", "Tax code is exist");

	$(document).ready('#btnAdd').click(function () {
		this.href = "/Customer/Edit/" + document.getElementById('customerId').value;
	});
</script>

<script>
	$('#newCustomer').on('hidden', function () {
		swal({
			title: "Successfully",
			text: "The request has been sent",
			icon: "success",
			buttons: false,
			timer: 1300
		});
</script>

<script>
		$(document).ready('#btnSave').submit(function(e) {
			e.preventDefault();
			$('#newCustomer').modal('hide');
			debugger;
			$.ajax({
				url: '@Url.Action("Create", "Customer")',
				method: "POST",
				dataType: 'json',
			
				success: function (json) {
					if (json.Success) {
						alert("Add Successfully");
					}
					else {
						alert(json.Message);
					}
				},

				// This will be trigered whenever your ajax call fails (broken ISP link, etc).
				error: function () {
					swal({
						title: "FAILED",
						text: "Add Customer Failed",
						icon: "error",
						buttons: false,
						timer: 1300
					});
				}
			});
		});

</script>