@model EInvoice.Web.Models.ProductViewModel
@using EInvoice.Web.Controllers.CategoryController

@{
    ViewBag.Title = "Product Management";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
    var controller = ViewContext.Controller as ProductController;
}


<link href="~/Assets/Owner/css/customer.css" rel="stylesheet" />
<style>
        .field-validation-error {
            color: red;
        }

        #Products_DXCTMenu0_DXI0_ {
            border: 1px Solid #dfdfdf !important;
        }

        #btnNew {
            border: none;
            padding: 8px 8px 8px 32px;
            font-family: Arial, Verdana;
            background: #ffffff url([https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROdEUxozEt-9GCB3eVUdVbrzR67M_Ap8k6oxCbu-f4WVSfmW3V]);
            background-position: 8px 8px;
            background-repeat: no-repeat;
        }
    </style>
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView })

<div class="">
    <div class="clearfix" align="center">
        <h3>PRODUCT MANAGEMENT</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    @using (Html.BeginForm("Product"))
                    {
                        @Html.Hidden("customExportCommand")
                        @Html.Action("ProductPartial", "Product")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">New Product</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        @using (Ajax.BeginForm("Create", "Product",
            null,
            new AjaxOptions() { HttpMethod = "post" },
            new { @class = "form-horizontal", @id = "productForm" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Product Code: <span class="required">*</span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(model => model.Code,
                                    new
                                    {
                                        @name = "Code",
                                        @class = "form-control",
                                        @type = "text"
                                    })
                                    @Html.ValidationMessageFor(model => model.Code)
                                </div>
                                <p id="code_status"></p>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name: </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(model => model.Name,
                                    new
                                    {
                                        @name = "Purchaser",
                                        @class = "form-control",
                                        @type = "text"
                                    })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Desription: </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.TextAreaFor(model => model.Description,
                                    new
                                    {
                                        @style = "padding-left:5%",
                                        @class = "form-control",
                                        @type = "text"
                                    })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Price: </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.TextBoxFor(model => model.Price,
                                    new
                                    {
                                        @name = "Name",
                                        @class = "form-control",
                                        @type = "text"
                                    })
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Unit: </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.UnitID,
                                    controller.GetUnitName(),
                                    new
                                    {
                                        @class = "form-control",
                                        id = "paymentType",
                                        type = "text",
                                        name = "PaymentType",

                                        required = "required"
                                    })
                                    @Html.ValidationMessageFor(model => model.UnitID)
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4" style="padding-right: 7%">
                                    <input type="submit" class="btn btn-round btn-primary" id="btnSave" value="Save">
                                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>