@model EInvoice.Web.Models.CompanyViewModel

@{
	ViewBag.Title = "Info";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@{
	Html.EnableClientValidation();
	Html.EnableUnobtrusiveJavaScript();
}
@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout })

@Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout })
<link href="~/Assets/Owner/css/sweetAlert.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style type="text/css">
	.buttonAlign {
		text-align: right !important;
	}

	@@media(max-width:600px) {
		.buttonAlign {
			text-align: center !important;
		}
	}

	.validation-summary-errors {
		margin-bottom: -2%;
		color: red;
		margin-left: 15%;
	}
	.validation-summary-errors li {
		list-style-type: none;
	}
</style>

<script>
	$(document).ready(function() {
		$("#applyButton").click(function() {
			
			swal({
				title: "Done",
				text: "Saved successfully",
				icon: "success",
				buttons: false,
				timer: 1500
			});
		});
		//window.setTimeout(function(){
		//	window.location.href='/Index/Company';
		//}, 4000);
	});
	
</script>
<div class="panel">
	<div class="col-md-2"></div>
	<div class="panel-heading">
		<h2 style="text-align: center">General Information</h2>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm("Update", "CompanyInfo", FormMethod.Post, new{ id = "companyForm"}))
		{
			@Html.ValidationSummary()
			<div style="margin: 1% 15% 1% 15%;">
				@Html.Partial("CompanyInfo", Model)
			</div>
		}
	</div>
	<div class="col-md-2"></div>
</div>










@*<div class="card">
		<div class="card-header">
			<h2 style="text-align: center">Company Information</h2>
		</div>
		<div class="card-body">
			@using (Html.BeginForm("UpdateCompany", "Company", FormMethod.Post))
			{
				@Html.ValidationSummary();
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Company Name: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Name, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Tax Code: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.TaxCode, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Address: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Address, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Email: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0">Phone: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Fax: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Fax, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Website: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.Website, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Legal Presenter: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.LegalPresenter, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Bank ID: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.BankAccountID, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Account Holder: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.AccountHolder, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="form-group row">
							<label class="col-form-label col-md-2 pt-2 p-0 ">Bank Name: </label>
							<div class="input-group col-md-10">
								@Html.TextBoxFor(x => x.BankName, new { @class = "form-control", @type = "text" })
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-3"></div>
					<div class="col-md-6 col-xs-12">
						<div class="form-group" style="text-align: center; margin-left: 15%">
							<button type="submit" class="btn btn-success">Save</button>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
			}
		</div>
	</div>*@